<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler handler="com.datastreams.mdosa.common.dao.mybatis.ObjectIdTypeHandler"  />
        <typeHandler handler="com.datastreams.mdosa.common.dao.mybatis.BooleanTypeHandler" />
        <typeHandler handler="com.datastreams.mdosa.common.dao.mybatis.DateTypeHandler" />
        <typeHandler handler="com.datastreams.mdosa.common.dao.mybatis.MessageTypeHandler"/>
        <typeHandler handler="com.datastreams.mdosa.common.dao.mybatis.StringTypeHandler"/>
        <typeHandler handler="org.apache.ibatis.type.BlobTypeHandler" javaType="byte[]" jdbcType="BLOB" />
    </typeHandlers>
</configuration>